{% extends 'base.html.twig' %}

{% block title %}Book index
{% endblock %}

{% block body %}
	<h1>Book index</h1>

	<table class="table">
		<thead>
			<tr>
				<th >Titre</th>
				<th>Auteur</th>
				<th>Exemplaire disponible</th>
				<th>actions</th>
			</tr>
		</thead>
		<tbody>
			{% for book in books %}
				<tr>
					<td>{{ book.title }}</td>
					<td>{{ book.author }}</td>
					<td>{{ book.exemplaires
                    |filter(exemplaire => exemplaire.isAvailable())
                    |length }}</td>

					<td>
						<a href="{{ path('app_book_show', {'id': book.id}) }}" class="btn">show</a>
						<a href="{{ path('app_book_edit', {'id': book.id}) }}" class="btn">edit</a>
					</td>
				</tr>
			{% else %}
				<tr>
					<td colspan="6">no records found</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>

	<a href="{{ path('app_book_new') }}" class="btn">Create new</a>
{% endblock %}
