{% extends 'base.html.twig' %}

{% block title %}Book
{% endblock %}

{% block body %}
	<h1>Book</h1>

	<table class="table">
		<tbody>
			<tr>
				<th>Id</th>
				<td>{{ book.id }}</td>
			</tr>
			<tr>
				<th>IsbnID</th>
				<td>{{ book.isbnID }}</td>
			</tr>
			<tr>
				<th>Titre</th>
				<td>{{ book.title }}</td>
			</tr>
			<tr>
				<th>Auteur</th>
				<td>{{ book.author }}</td>
			</tr>
		</tbody>
	</table>
	{% if user %}

		<p>Reservez !</p>

	{% endif %}


	<a href="{{ path('app_book_index') }}" class="btn">Retour à la liste </a>

	<a href="{{ path('app_book_edit', {'id': book.id}) }}" class="btn" >edit</a>

	{{ include('book/_delete_form.html.twig') }}
{% endblock %}
