{% extends 'base.html.twig' %}

{% block title %}Vos réservations
{% endblock %}

{% block body %}
	<h1>Vos réservations</h1>
	<div class="reservations">
		{% if user.reservations|length > 0 %}
			{#reservations array is not empty ?#}
			{% for reservation in user.reservations %}
				<div>
					<h3>{{ reservation.book.title }}</h3>
					<p>Date d'emprunt:
						{{ reservation.date_reservation|date('d/m/Y') }}</p>
					<p>Date de retour:
						{{ reservation.date_expectedReturn|date('d/m/Y') }}</p>
				</div>
			{% endfor %}
		{% else %}
			<p>Vous n'avez pas de réservations passées ou présentes.</p>
		{% endif %}


	</div>

	<a href="{{ path('app_user_index') }}">back to list</a>

	<a href="{{ path('app_user_edit', {'id': user.id}) }}">edit</a>

	{{ include('user/_delete_form.html.twig') }}
{% endblock %}
